body {
    margin-top: 200px;
    background-color: #3399FF;
    width: 100%;
    margin: auto;
    
}
#centerContent {
    
    width: 900px;
    display: block;
    padding: 0;
    margin: 0 auto;
    
}
#header {
    width: 100%;
}
form {
    margin-top: 30px;
}
.mySlides {
    height: 250px;
}
#logo {  
    margin-left: 35%;  
}
#nav {
    margin: auto;
    width: 100%;
    background-color: black;
    height: 200px;   
}

#para {
    margin-top: 50px;
}
.leftDiv {
    margin-top: 100px;
    float: left;
}
.rightDiv {
    margin-top: 100px;
    float: left;
}
#navbar {
    display: inline;   
    float: right;
}
li {
    margin-top: 10px;
    float: right;
    list-style: none;
}
li a {
    display: inline;
    text-decoration: none;
    color: white;
    padding-right: 15px;
}
#leftcolumn {
    margin: 0;
    padding: 0;
    width: 25%;
 
    float: left; 
    background-color: cce5ff;    
}
h1 {
    margin: auto;
    text-align: center;
    margin-top: 10px;
    font-size: 2em;
}
#title {
    text-align: center;
    margin: 30px 0 40px 0; 
}
h2 {
    
    margin-top: 10px;
    font-size: 1.5em;
    float: left;
}
h3 {
    font-size: 1.2em;
    color:white;
    float: right;
    vertical-align: -300px;
}
h4 {
    margin: auto;
    text-align: center;
}
.datepicker{
    display: inline-block;
    margin-top: 20px;
    margin-left: 15px;
}
#selectlocation {
    display: inline-block;
    margin-top: 20px;
}
button {
    width: 100px;
    height: 30px;
    margin-left: 40%;
    margin-top: 20px;
    border-radius: 5px;
}
#centercolumn {  
    float: center;
    padding: 0;
    margin: auto;
    width: 90%;
   
    background-color: cce5ff;
}
.img-logo {
    margin-left: 300px;
}
#nav {
    background-color: black;
}
#login {
    float: right;
}
#footer {
    margin-top: 100px;
    text-align: center;   
}
#toppanel {
    width: 95%;
    height: 220px;
    border: 1px solid black;
    border-radius: 10px;
    margin: auto;
    margin-bottom: 70px;
    background-color: #9bbae8;
}
#logintoppanel {
    width: 50%;
    height: 220px;
    border: 1px solid black;
    border-radius: 10px;
    margin: auto;
    margin-top: 100px;    
    background-color: #9bbae8;
}
#email { 
    margin-left: 100px;
    padding-bottom: 20px;
    text-align: center;
    display: inline-block;
}

#loginpwd {
     margin-left: 100px; 
}
#loginemail {
    display: inline-block;
    padding-left: 34px;   
}
#loginpass {
    display: inline-block;
    margin-left: 12px;
}
#submitlogin {
    text-align: center;
    padding-top: 35px;   
}
#submitreg {
    text-align: center;
    padding-top: 30px;   
}
#registerForm {
    margin-left: 60px;   
}
#nameForm input {
    width: 215px;
}
#nametxt {
    margin-left: 28px;
    display: inline-block;
}
#emailtxt {
    margin-left: 28px;
    display: inline-block;   
}


#emailForm {
    padding-top: 8px;
}
#emailForm input {
    width: 215px;
}
#pass1 {
    padding-top: 8px;
}
#pass1 input {
    margin-left: 5px;
    width: 215px;
}
#pass2 {
    padding-top: 8px;
}
#pass2 input {
    margin-left: 5px;
    width: 215px;
}