body {
    background-color: #3399FF;
}
#centerContent {
    width: 500px;
    padding: 0;
    margin: 0 auto;
    
}
form {
    margin-top: 100px;
}
.img-logo {
    margin-left: 300px;
}
#nav {
    background-color: black;
}
#login {
    float: right;
}
#footer {
    text-align: center;
   padding-top: 350px;
}