{% extends "master.html.twig" %}

{% block title %}CarRental{% endblock %} 


  {% block content %}
      
<div id="nav" class="w3-content w3-section" style="max-width:100%">
  <img class="mySlides" src="/pics/scenery1.jpg" width="100%" height="350">
  <img class="mySlides" src="/pics/scenery2.jpg" width="100%" height="350">
  <img class="mySlides" src="/pics/scenery3.jpg" width="100%" height="350">
  <img class="mySlides" src="/pics/scenery4.jpg" width="100%" height="350">
  <img class="mySlides" src="/pics/scenery5.jpg" width="100%" height="350">
  <img class="mySlides" src="/pics/scenery6.jpg" width="100%" height="350">
  <img class="mySlides" src="/pics/scenery7.jpg" width="100%" height="350">
  
</div>
     
     
   <h1>Welcome to ASFAR CarRental</h1><h4> (Travel AS FAR as you want to go..)</h4><br>
   
<script>
var myIndex = 0;
carousel();

function carousel() {
    var i;
    var x = document.getElementsByClassName("mySlides");
    for (i = 0; i < x.length; i++) {
       x[i].style.display = "none";  
    }
    myIndex++;
    if (myIndex > x.length) {myIndex = 1}    
    x[myIndex-1].style.display = "block";  
    setTimeout(carousel, 7000);    
}
</script>


{% if sessionUser %}
    <p id="para">Hello {{sessionUser.name}} ({{sessionUser.email}}).
        You may <a href="/reservation">Continue to Reservation Page</a> OR <a href="/logout">logout</a>.</p>

{% endif %}
<<<<<<< HEAD


   
    
=======
 

>>>>>>> f1d07513aca702184eb53d5494fc0fee0f2a0dd0
    <table>
        <tr>
            <td> <div class="leftDiv" >
                    <img  src="/pics/nissanversa.png" width="70%" height="250">
                    <p  >Economy</p>
                </div>
            </td>

            <td><div class="rightDiv" >
                    <img  src="/pics/elantra_intermed.png" width="70%" height="250"> 
                    <p > Mid size</p>
                </div>
            </td>
        </tr>

        <tr>
            <td>
                <div class="leftDiv">
                    <img  src="/pics/fullsizeAltima.png" width="70%" height="250">
                    <p  >Full Size</p>
                </div>
            </td>

            <td>
                <div class="rightDiv">
                    <img  src="/pics/FordEdge.png" width="70%" height="250">
                    <p  >SUV</p>
                </div>
            </td>
        </tr>

        <tr>
            <td>
                <div class="leftDiv">
                    <img  src="/pics/largeSUV.png" width="70%" height="250">
                    <p >LARGE suv</p>
                </div>
            </td>

            <td>
                <div class="rightDiv">
                    <img  src="/pics/minivan.png" width="70%" height="250">  
                    <p  >Mini Van</p>
                </div>
            </td>
        </tr>
    </table>


{% endblock %}
