{% extends "master.html.twig" %}

{% block title %}CarRental{% endblock %} 


  {% block content %}
      
<div id="nav"  style="max-width:100%">
  <img class="mySlides" src="/pics/scenery1.jpg" width="100%" height="350">
  <img class="mySlides" src="/pics/scenery2.jpg" width="100%" height="350">
  <img class="mySlides" src="/pics/scenery3.jpg" width="100%" height="350">
  <img class="mySlides" src="/pics/scenery4.jpg" width="100%" height="350">
  <img class="mySlides" src="/pics/scenery5.jpg" width="100%" height="350">
  <img class="mySlides" src="/pics/scenery6.jpg" width="100%" height="350">
  <img class="mySlides" src="/pics/scenery7.jpg" width="100%" height="350">
  
</div>
     
   <h1>Welcome to ASFAR CarRental</h1><h4> (Travel AS FAR as you want to go..)</h4><br>
   
<script>
var myIndex = 0;
carousel();

function carousel() {
    var i;
    var x = document.getElementsByClassName("mySlides");
    for (i = 0; i < x.length; i++) {
       x[i].style.display = "none";  
    }
    myIndex++;
    if (myIndex > x.length) {myIndex = 1}    
    x[myIndex-1].style.display = "block";  
    setTimeout(carousel, 7000);    
}
</script>


{% if sessionUser %}
    <p id="para">Hello {{sessionUser.name}},
        you may <a href="/reserve2">Continue to Reservation Page</a> OR <a href="/logout">logout</a>.</p>

{% endif %}

    <table>
        <tr>
            <td> <div class="leftDiv">
                    <a href="/reserve2"> <img  src="/pics/nissanversa.png" height="250"></a>
                    <p  >Economy</p>
                </div>
            </td>

            <td><div class="rightDiv" >
                    <a href="/reserve2"> <img  src="/pics/elantra_intermed.png"  height="250"> </a>
                    <p > Mid Size</p>
                </div>
            </td>
        </tr>

        <tr>
            <td>
                <div class="leftDiv">
                    <a href="/reserve2"><img  src="/pics/fullsizeAltima.png" width="70%" height="250"></a>
                    <p  >Full Size</p>
                </div>
            </td>

            <td>
                <div class="rightDiv">
                    <a href="/reserve2"><img  src="/pics/FordEdge.png" width="70%" height="250"></a>
                    <p  >SUV</p>
                </div>
            </td>
        </tr>

        <tr>
            <td>
                <div class="leftDiv">
                    <a href="/reserve2"><img  src="/pics/largeSUV.png" width="70%" height="250"></a>
                    <p >LARGE SUV</p>
                </div>
            </td>

            <td>
                <div class="rightDiv">
                    <a href="/reserve2"><img  src="/pics/minivan.png" width="70%" height="250">  </a>
                    <p  >Mini Van</p>
                </div>
            </td>
        </tr>
    </table>


{% endblock %}
