{% extends "master.html.twig" %}

{% block title %}CarRental{% endblock %}

    
{% block content %}

      
    <h1>Welcome to ASFAR CarRental</h1><h4> (Travel AS FAR as you want to go..)</h4><br>
<div id="nav" class="w3-content w3-section" style="max-width:100%">

  <img class="mySlides" src="/pics/scenery1.jpg" width="100%" height="350">
  <img class="mySlides" src="/pics/scenery2.jpg" width="100%" height="350">
  <img class="mySlides" src="/pics/scenery3.jpg" width="100%" height="350">
  <img class="mySlides" src="/pics/scenery4.jpg" width="100%" height="350">
  <img class="mySlides" src="/pics/scenery5.jpg" width="100%" height="350">
  <img class="mySlides" src="/pics/scenery6.jpg" width="100%" height="350">
  <img class="mySlides" src="/pics/scenery7.jpg" width="100%" height="350">
</div>

<script>
var myIndex = 0;
carousel();

function carousel() {
    var i;
    var x = document.getElementsByClassName("mySlides");
    for (i = 0; i < x.length; i++) {
       x[i].style.display = "none";  
    }
    myIndex++;
    if (myIndex > x.length) {myIndex = 1}    
    x[myIndex-1].style.display = "block";  
    setTimeout(carousel, 7000);    
}
</script>


{% if sessionUser %}
    <p id="para">Hello {{sessionUser.name}} ({{sessionUser.email}}).
        You may <a href="/logout">logout</a> OR <a href="/reservation">Continue to Reservation Page</a>.</p>
{% endif %}



{% endblock %}
