{% extends "master.html.twig" %}

{% block title %}Login Page{% endblock %}

{% block content %}
    
<h1>Login Page</h1>

{% if loginFailed %}
    <p>Invalid username or password</p>
{% endif %}

<<<<<<< HEAD
<form method="post">
    Client:
          Email: <input type="text" name="email"><br>
          Password: <input type="password" name="pass"><br><br><br>
          
   
    <input type="submit" value="Login">
</form>
=======
<div id="logintoppanel">
    <form method="post">
    <div id="email">Email: <input type="text" name="email"></div>
    <div id="pwd">Password: <input type="password" name="pass"></div>
    <div id="submitlogin"><input type="submit" value="Login"></div>
    </form>
    </div>
    
    
</div>

>>>>>>> origin/master

{% endblock %}
