{% extends "master.html.twig" %}

{% block title %}Password Reset{% endblock %}

{% block content %}
    <h1>Password Reset - email sent</h1>
<div id="toppanel">
    <p>Email with password reset code has been sent.
        Please allow the email a few minutes to arrive.
        <a href="/login">Click here to continue</a></p>
</div>
{% endblock %}
