{% extends "master.html.twig" %}

{% block title %}Password Reset Successful{% endblock %}

{% block content %}
 <div id="toppanel">   
     <div id="email"><h1>Congratulations, password reset was successful</h1></div>
</div>
<a href="/">Click to continue</a>

{% endblock %}
