{% extends "master.html.twig" %}

{% block title %}Register user{% endblock %}
{% block head %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script>   
    $(document).ready(function() {
        $('input[name=email]').keyup(function() {
            $('#result').load('/emailexists/' + $(this).val());           
            });
        });
        </script>
    {% endblock %}

{% block content %}
     
<h1>Registration page</h1>

{% if errorList %}
    <ul>
    {% for error in errorList %}
        <li>{{ error }}</li>
    {% endfor %}
    </ul>
{% endif %}

<div id="logintoppanel">
    <form method="post">
        <div id="registerForm">
            <div id="nameForm">Name:<div id="nametxt"><input type="text" name="name" placeholder="Name" value="{{v.name}}"></div></div>
            <div id="emailForm">Email:<div id="emailtxt"><input type="text" name="email" placeholder="Email" value="{{v.email}}"></div></div>
        <span id="result"></span>
        <div id="pass1">Password:<input type="password" placeholder="Password" name="pass1"></div>
        <div id="pass2">Password:<input type="Password" placeholder="Repeat Password" name="pass2"></div>
        </div>
        <div id="submitreg"><input type="submit" value="Register"></div>
        
    </form>
</div>
{% endblock %}
    