{% extends "master.html.twig" %}

{% block title %}Register user{% endblock %}
{% block head %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script>   
    $(document).ready(function() {
        $('input[name=email]').keyup(function() {
            $('#result').load('/emailexists/' + $(this).val());           
            });
        });
        </script>
    {% endblock %}

{% block content %}
     
<h1>Registration page</h1>

{% if errorList %}
    <ul>
    {% for error in errorList %}
        <li>{{ error }}</li>
    {% endfor %}
    </ul>
{% endif %}

<div id="logintoppanel">
    <form method="post">
        <div id="registerForm">
        <div id="nameForm">Name:<input type="text" name="name" value="{{v.name}}"></div>
        <div id="emailForm">Email:<input type="text" name="email" value="{{v.email}}">
        <span id="result"></span>
        <div id="pass1">Password:<input type="password" name="pass1"></div>
        <div id="pass2">Password (repeated)<input type="password" name="pass2"></div>
        <div id="submitreg"><input type="submit" value="Register"></div>
        </div>
    </form>
</div>
{% endblock %}
    