{% extends "master.html.twig" %}

{% block title %}Resevation{% endblock %}
{% block head %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <script>
        $( function() {
    $( ".datepicker" ).datepicker();
    } );

    </script>

    

    {% endblock %}
{% block content %}
            
<h1>Reservation Page</h1>

{% if errorList %}
    <ul>
    {% for error in errorList %}
        <li>{{ error }}</li>
    {% endfor %}
    </ul>
{% endif %}


<div id="leftcolumn"
    
     <br>
    <div id="date">
        PICKUP DATE: <br><input class="datepicker" type="text" name="pickupDate" value="{{v.pickupDate}}">
    <span id="result"></span><br><br>
    RETURN DATE: <br><input class="datepicker" type="text" name="returnDate" value="{{v.returnDate}}"><br><br> 
    LOCATION: <br>
    <select id="selectlocation">
        <option value="montreal">Montreal</option>
        <option value="toronto">Toronto</option>
        <option value="calgary">Calgary</option>
        <option value="vancouver">Vancouver</option>
        <option value="novascotia">Nova Scotia</option>
        <option value="minivan">Minivan</option>
    </select><br><br> 
    <!--<input type="submit" value="Continue">-->
    </div>
</div>
      
    <div id="rightcolumn"
         <div class="row">
            <div class="col-md-7">
                <h2>Economy - $24.99/day</h2>
                <h3>Kia Rio or similar</h3><br>
                <a href="/pics/kiario.png">
                    <img class="img-responsive" src="/pics/kiario.png" width="250" height="170" alt="kia Rio">
                </a>
            </div>
            <div class="col-md-5">          
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium veniam exercitationem expedita laborum at voluptate. Labore, voluptates totam at aut nemo deserunt rem magni pariatur quos perspiciatis atque eveniet unde.</p>
                <button onclick="myFunction()">SELECT</button>
                <!--<input type="button" class="btnSelect" href="#">Select<span class="glyphicon glyphicon-chevron-right"></span></a>-->
            </div>
        
         <!-- /.row -->
         <hr>

        <!-- Intermediate -->    
            <div class="col-md-7">
                <h2>Intermediate - $32.99/day</h2>
                <h3>Hyundai Elantra or similar</h3>
                <a href="/pics/elantra_intermed.png">
                    <img class="img-responsive" src="/pics/elantra_intermed.png" width="250" height="170" alt="Hyudai Elantra">
                </a>
            </div>
            <div class="col-md-5">            
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut, odit velit cumque vero doloremque repellendus distinctio maiores rem expedita a nam vitae modi quidem similique ducimus! Velit, esse totam tempore.</p>
                <button onclick="myFunction()">SELECT</button>
            </div>
        
        <!-- /.row -->
        <hr>

        <!-- Full Size -->    
            <div class="col-md-7">
                <h2>Full size - $39.99/day</h2>
                <h3>Nissan Altima</h3>
                <a href="/pics/fullsizeAltima.png">
                    <img class="img-responsive" src="/pics/fullsizeAltima.png" width="250" height="170" alt="">
                </a>
            </div>
            <div class="col-md-5">            
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis, temporibus, dolores, at, praesentium ut unde repudiandae voluptatum sit ab debitis suscipit fugiat natus velit excepturi amet commodi deleniti alias possimus!</p>
                <button onclick="myFunction()">SELECT</button>
            </div>
        
        <!-- /.row -->
        <hr>

        <!-- SUV -->
            <div class="col-md-7">
                <h2>SUV - $55.99/day</h2>
                <h3>Ford Edge or similar</h3>
                <a href="/pics/FordEdge.png">
                    <img class="img-responsive" src="/pics/FordEdge.png" width="250" height="170" alt="Ford Edge">
                </a>
            </div>
            <div class="col-md-5">   
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo, quidem, consectetur, officia rem officiis illum aliquam perspiciatis aspernatur quod modi hic nemo qui soluta aut eius fugit quam in suscipit?</p>
                <button onclick="myFunction()">SELECT</button>
            </div>
        
        <!-- /.row -->
        <hr>

        <!-- Large SUV -->
            <div class="col-md-7">
                <h2>Large SUV - $65.99/day</h2>
                <h3>Chevrolet Tahoe or similar</h3>
                <a href="/pics/largeSUV.png">
                    <img class="img-responsive" src="/pics/largeSUV.png" width="250" height="170" alt="Chevrolet Tahoe">
                </a>
            </div>
            <div class="col-md-5">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid, quo, minima, inventore voluptatum saepe quos nostrum provident ex quisquam hic odio repellendus atque porro distinctio quae id laboriosam facilis dolorum.</p>
                <button onclick="myFunction()">SELECT</button>
            </div>
        
        <!-- /.row -->
        <hr>
        
        <!-- Minivan -->
            <div class="col-md-7">
                <h2>MiniVan - $75.99/day</h2>
                <h3>Dodge Journey or similar</h3>
                <a href="/pics/minivan.png">
                    <img class="img-responsive" src="/pics/minivan.png" width="250" height="170" alt="Dodge Journey">
                </a>
            </div>
            <div class="col-md-5">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid, quo, minima, inventore voluptatum saepe quos nostrum provident ex quisquam hic odio repellendus atque porro distinctio quae id laboriosam facilis dolorum.</p>
                <button onclick="myFunction()">SELECT</button>
            </div>
        </div>
        
    </div>

{% endblock %}

    