{% extends "master.html.twig" %}

{% block title %}Resevation{% endblock %}
{% block head %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    
    {% endblock %}
{% block content %}
            
<h1>Reservation page</h1>

{% if errorList %}
    <ul>
    {% for error in errorList %}
        <li>{{ error }}</li>
    {% endfor %}
    </ul>
{% endif %}

<form method="post">
    <!--CAR TYPE: <input type="text" name="carID" value="{{v.carID}}"><br><br>-->
    CAR TYPE:
    <select>
        <option value="economy">Economy</option>
        <option value="intermediate">Intermediate</option>
        <option value="fullsize">Full size</option>
        <option value="suv">SUV</option>
        <option value="largesuv">Large SUV</option>
        <option value="minivan">Minivan</option>
    </select><br><br>
    PICKUP DATE: <input type="date" name="pickupDate" value="{{v.pickupDate}}">
    <span id="result"></span><br><br>
    RETURN DATE: <input type="date" name="returnDate" value="{{v.returnDate}}"><br><br>
    
    LOCATION: 
    <select>
        <option value="montreal">Montreal</option>
        <option value="toronto">Toronto</option>
        <option value="calgary">Calgary</option>
        <option value="vancouver">Vancouver</option>
        <option value="novascotia">Nova Scotia</option>
        <option value="minivan">Minivan</option>
    </select><br><br>
    
    <input type="submit" value="Continue">
</form>

{% endblock %}
    