{% extends "master.html.twig" %}

{% block title %}Successful registration{% endblock %}

{% block content %}
    
<h1>Staff Login</h1>

{% if loginFailed %}
    <p>Invalid username or password</p>
{% endif %}

<form method="post">
    
          
    Staff:
          Name:<input type="text" name="name"><br>
          Password: <input type="password" name="pass"><br>
    <input type="submit" value="Login">
</form>

{% endblock %}